/* Main container */
.user-homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #000000,
    #660000
  ); /* Black to dark red gradient */
  color: #ffffff; /* White text for contrast */
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

/* Welcome section */
.welcome-section {
  flex: 1;
  padding: 20px;
}

.welcome-section h1 {
  font-size: 2.5rem;
  color: #ff0000; /* Bright red heading */
  margin-bottom: 20px;
  text-transform: uppercase;
}

.welcome-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* GIF section */
.gif-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif-section img {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.3); /* Red shadow */
}

.card {
  padding: 1rem 2rem;
}
.loader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #ff0000;
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}
